
.people-card {
    margin-top: 20px;
    display: block;
}

.people-banner {
    margin: -20px;
    margin-bottom: 0;
    height: 150px;
    width: calc(100% + 40px);
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.people-pp {
    width: 150px;
    aspect-ratio: 1/1;
    display: inline-block;
    margin: -50px auto 0;
    outline: 5px solid rgb(var(--grey-8));
    border-radius: 50%;
    object-fit: cover;
    flex: 0 0 150px;
}

.people-body {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.people-left {
    flex-grow: 1;
}

.people-right {
    white-space: nowrap;
    padding-top: 16px;
}

@media (max-width: 600px) {
    .people-banner {
        display: none;
    }
    .people-pp {
        margin: 0 auto;
        width: 50px;
        flex: 0 0 50px;
    }
    .people-left p:first-child {
        margin-top: 0;
    }
    .people-right {
        padding-top: 0;
        text-align: center;
        display: block;
        width: 100%;
    }
}