
:root {
    --grey-0: 33, 37, 41;
    --grey-1: 52, 58, 64;
    --grey-2: 73, 80, 87;
    --grey-3: 108, 117, 125;
    --grey-4: 173, 181, 189;
    --grey-5: 206, 212, 218;
    --grey-6: 222, 226, 230;
    --grey-7: 233, 236, 239;
    --grey-7-5: 240, 240, 240;
    --grey-8: 248, 249, 250;

    /* --accent-1: 44, 165, 141;
    --accent-2: 46, 196, 182;
    --accent-3: 52, 179, 153;
    --accent-4: 131, 242, 220;
    --accent-5: 196, 245, 235; */

    --accent-1: 218, 255, 239;
    --accent-2: 66, 255, 198;
    --accent-3: 0, 159, 120;
    --accent-4: 0, 127, 95;
    --accent-5: 0, 71, 52;

    /* --red: 218, 44, 56; */
    --red: 224, 0, 43;
    /* --green: 54, 224, 139; */
    --green: 114, 255, 108;
    --white: 256, 256, 256;
    
    --duration-002: .2s;

}

@media (prefers-color-scheme: dark) {
    :root {
    --grey-7: 19, 19, 19;
    --grey-7-5: 25, 25, 25;
    --grey-8: 35, 36, 36;
    --grey-6: 47, 48, 49;
    --grey-5: 60, 60, 61;
    --grey-4: 110, 113, 116;
    --grey-3: 170, 176, 182;
    --grey-2: 206, 210, 213;
    --grey-1: 232, 232, 232;
    --grey-0: 245, 245, 245;

    --white: 43, 47, 51;
    }
} 

@media (prefers-reduced-motion: reduce) {
    :root {
        --duration-002: 0;
    }
}