
.reply-cont {
    background: rgb(var(--grey-8));
    border-radius: 10px;
    padding: 20px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: -10px;
    transition: .2s;
}

.reply-cont.removed {
    padding: 10px 20px;
}

.single {
    margin-top: 0px;
    margin-bottom: 10px;
}

.reply-cont:hover {
    background: rgb(var(--white))
}

.reply-left {
    flex: 0 0 40px;
}

.reply-left img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.reply-right {
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;
}

.replied-text {
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.removed {
    filter: brightness(0.9) opacity(.9) grayscale(1)
}

@media (max-width: 850px) {
    .reply-cont {
        margin: 20px -20px -10px;
        border-radius: 0;
    }
}